.heading1{
    color: white;
    position: absolute;
    top: 130px;
    left: 250px;
}
.heading1 h1{
    font-family: sans-serif;
    font-size: 50px;
}



.heading2{
    color: white;
    position: absolute;
    top: 175px;
    left: 315px;
}
.heading2 h5{
    font-family: sans-serif;
}


.heading3{
    color: white;
    position: absolute;
    top: 190px;
    left: 350px;
}
.heading3 h1{
    font-family: sans-serif;
    font-size: 50px;
}


.heading4{
    background-color: black;
    width: 1503px;
    height: 155px;
    color: white;
    position: absolute;
    top: 100%;
    margin-top: 10px;
}
.heading4 h2{
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
}


span{
    font-size: 70px;
}

.img1{
    margin: 40px;
    margin-top: 200px;
    background-color: white;
    box-sizing: 5px 5px 6px grey;
    border-radius: 11px;
}
.dear{
    display: flex;
    width: 10px;
    margin-left: 155px;
}
.img1:hover{
    background-color: green;
    border: solid grey;
}


.green{
    background-color :green;
    color: white;
    width: 750px;
    height: 300px;
    position: relative;
    bottom: 10px;
}
.green h1{
    position: relative;
    top: 40px;
    left: 50px;
    font-size: 60px;
}
.green p{
    position: relative;
    top: 40px;
    left: 50px;
}


.red{
    background-color: red;
    color: white;
    width: 750px;
    height: 300px;
    position: relative;
    bottom: 350px;
    left: 750px;
}
.red h1{
    position: relative;
    top: 40px;
    left: 50px;
    font-size: 60px;
}
.red p{
    position: relative;
    top: 40px;
    left: 50px;
}


.last{
    background-color: black;
    color: white;
    width: 1500px;
    height: 80px;
    position: relative;
    bottom: 372px;
}
.last h1{
    position: relative;
    top: 15px;
}


body{
    overflow-x: hidden;
}
